* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background: #ddd;
}

nav {
    height: 100px;
    width: 100%;
    background: rgb(0, 84, 153);
    position: absolute;
}

nav h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    color: #fff;
}

.pantalla {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.600);
    z-index: 1500;
}

.containercliente {
    height: 500px;
    width: 1000px;
    background: white;
    position: absolute;
    z-index: 2000;
    margin-top: 180px;
    margin-left: 400px;
    border: 3px solid rgb(0, 134, 201);
    box-shadow: 0 0 20px 0 #000;
}

.containercliente__titulo {
    height: 50px;
    width: 100.1%;
    background: rgb(63, 0, 180);
}

.containercliente__titulo h1 {
    text-align: center;
    padding: 5px;
    color: #ddf;
}

.containercliente__titulo h1 span {
    color: #fff;
}

.containercliente__datos {
    height: 100px;
    width: 100.1%;
    background: rgb(49, 0, 139);
}

.containercliente__datos p {
    font-size: 22px;    
}

.direccionCliente{
    color: #fff;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.saldoCliente {
    color: rgb(9, 255, 0);
    font-weight: 600;
    text-align: center;
}
.nombreCliente {
    color: #fff;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.numeroCliente {
    color: #fff;
    font-weight: 600;
    text-align: center;
}

.containerCliente__cargar{
    width: 100.1%;
    height: 351px;
    background: #ddd;
}

form div {
    display: flex;
    justify-content: left;
    padding: 10px;
}

form div input {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

form div p {
    padding: 10px 5px;
    background: lightskyblue;
}

.montoPagado {
    padding: 10px 10px;
    background: lime;
}

.montoPagadoDiv {
    margin-top: 40px;
    justify-content: center;
}

.submitBoton {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.boton-submit-reparto {
    font-size: 20px;
    color: #fff;
    border: 1px solid lightskyblue;
    background: #33a;
    border-radius: 10px;
    cursor: pointer;
}

.paraManana {
    justify-content: center;
}

.paraManana p {
    background: #ffff55;
}

.valoresOcultos {
    display: none;
}

@media only screen and (max-width: 1366px) {
    .containercliente {
        margin: 100px 180px;
    }
}

@media only screen and (max-width: 420px) {
    .pantalla {
        background: #ddf;
        border: 1px soñod #33a;
    }
    .containercliente {
        height: 100%;
        width: 100%;
        margin: 0;
        background: #ddf;
        border: 1px soñod #33a;
    }
    .containerCliente__cargar {
        height: 100%;
        border-left: 4px solid #33a;
        border-right: 4px solid #33a;
    }
    form div {
        display: inline;
        text-align: center;
    }
    form div input {
        margin-left: 120px;
    }
    .boton-submit-reparto {
        margin-left: 0px;
    }
}